$primary-black: #000;
$primary-white: #fff;

//   gray
$gray-1: #fcfcfd;
$gray-3: #eff0f3;
$gray-12: #1e1f24;

// green
$green-3: #e4f9de;
$green-4: #d2f4c9;
$green-8: #6dbc56;
$green-11: #3e8028;
$green-12: #26411f;
