.header {
  min-height: 100px;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 22px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.35s ease;
}

.header.header--sticky {
  background-color: #fff;
  box-shadow: 0 0 10px -3px rgba(8, 116, 210, 0.4);
  padding-top: 0;
  display: flex;
  align-items: center;
  min-height: 100px;
}

@media (max-width: 1200px) {
  .header.header--sticky {
    .header__logo {
      width: 200px;
    }
  }
}

@media (max-width: 768px) {
  .header.header--sticky {
    padding: 20px;
    .header__wrapper {
      align-items: center;
    }
  }
}

@media (max-width: 576px) {
  .header.header--sticky {
    .mobile-menu {
      .bar {
        margin-top: 0;
      }
    }
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-left: -3px;
}

.header__nav {
  width: 37%;
  margin-left: 7px;

  ul {
    display: flex;
    gap: 80px;
    li {
      a,
      a:link,
      a:visited {
        font-family: $font--primary, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5em;
        color: $gray-12;
        transition: all 0.35s ease;
        position: relative;
      }
      a::before,
      a::after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        bottom: -2px;
        background-color: $green-8;
        transition: width 0.35s ease;
      }
      a::before {
        left: 50%;
      }
      a::after {
        right: 50%;
      }
      @media (min-width: 1200px) {
        a:hover {
          color: $green-8;
        }
        a:hover::before,
        a:hover::after {
          width: 50%;
        }
      }
    }
  }
}

.header__btns {
  display: flex;
  gap: 4px;
  margin-right: -20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  z-index: 999;
}

.overlay.active {
  display: block;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  .bar:nth-child(1) {
    width: 60%;
    height: 3px;
    background-color: $primary-black;
    margin-bottom: 5px;
    border-radius: 20px;
    transition: 0.4s;
  }
  .bar:nth-child(2) {
    @extend .bar, :nth-child(1);
    width: 30px;
  }
  .bar:nth-child(3) {
    @extend .bar, :nth-child(1);
    width: 60%;
    margin-left: 12px;
  }
}

// Responsive

@media (max-width: 1400px) {
  .header__logo {
    margin-left: 0;
  }

  .header__nav {
    ul {
      gap: 40px;
    }
  }
  .header__btns {
    margin-right: 0;
  }
}

@media (max-width: 1200px) {
  .header__nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: #eee;
    padding: 50px 30px;
    z-index: 10000;
    ul {
      flex-direction: column;
      gap: 20px;
      li {
        border-bottom: 1px solid rgba(19, 48, 81, 0.2);
        padding-bottom: 10px;
      }
    }
  }

  .header__logo {
    width: 150px;
  }

  .header__btns {
    display: none;
    flex-direction: column;
    gap: 20px;

    position: fixed;
    right: 120px;
    top: 280px;
    z-index: 10000;
    .btn--green {
      display: flex;
      justify-content: center;
    }
  }

  .mobile-menu {
    display: flex;
  }
}

@media (max-width: 768px) {
  .header__wrapper {
    align-items: flex-start;
  }
  .header__btns {
    width: auto;
    flex-direction: column;
    .btn--green {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 576px) {
  .header__btns {
    right: 164px;
    .btn--transparent,
    .btn--green {
      font-size: 14px;
      padding: 8px 16px;
    }
    .btn--transparent {
      .btn-icon {
        width: 22px;
        height: 22px;
      }
    }
  }
}
