.info-card {
  border-radius: 50px 50px 0 0;
  background-color: $green-11;
}

.info-card__wrapper {
  padding-top: 74px;
  padding-bottom: 150px;
  width: 100%;
  margin-left: 12px;
  // margin-left: -3px;
}

.info-card__title {
  // padding-right: 507px;
  padding-right: 534px;
  margin-bottom: 39px;
}

.info-card__content {
  display: flex;
}

.info-card__img {
  width: 45%;
}

.info-card__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  width: 55%;
  // margin-left: 30px;
}

.info-card__item {
  height: 145px;
  // width: 49%;
  width: 351px;
  background-color: $gray-1;
  border-radius: 8px;
  padding: 16px 24px;
  margin-left: 5px;
  margin-bottom: 4px;
}

.info-card__item--full {
  width: calc(100% - 11px);
}

.info-card__item-text {
  margin-top: 13px;
}

.info-card__item:last-child {
  display: flex;
  height: 120px;
  gap: 49px;
  .info-card__item-text {
    margin-top: 8px;
    width: 65%;
  }
  .info-card__item-btn {
    display: flex;
    align-items: center;
  }
}
