html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  min-height: 1092px;
  background: linear-gradient(to bottom, rgb(251, 254, 250), rgb(245, 251, 244));
}

@media (min-width: 1400px) {
  .container {
    max-width: 1350px;
  }
}
@font-face {
  font-family: "SS01 Regular";
  src: url("../assets/fonts/BWMODELICASS01-REGULAR.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "LGC Regular";
  src: url("../assets/fonts/BWMODELICALGC-MEDIUM.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Chap Regular";
  src: url("../assets/fonts/Chap Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
.heading {
  font-family: "Chap Regular";
  font-size: 60px;
  line-height: 1.133em;
  color: #1e1f24;
}
.heading__secondary {
  font-family: "Chap Regular";
  font-size: 50px;
  line-height: 1.2em;
  color: #fcfcfd;
}

.subheading {
  font-family: "SS01 Regular";
  font-size: 24px;
  color: #1e1f24;
  line-height: 1.5em;
}

.text__p {
  font-family: "SS01 Regular";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  color: #1e1f24;
}

@media (max-width: 1400px) {
  .heading {
    font-size: 50px;
  }
  .heading__secondary {
    font-size: 40px;
  }
  .subheading {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  .heading {
    font-size: 42px;
  }
  .heading__secondary {
    font-size: 32px;
  }
}
@media (max-width: 992px) {
  .heading {
    font-size: 38px;
  }
  .heading__secondary {
    font-size: 28px;
  }
}
@media (max-width: 576px) {
  .heading {
    font-size: 24px;
  }
  .heading__secondary {
    font-size: 24px;
  }
}
.button, .btn--transparent, .btn--green {
  font-family: "LGC Regular", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 32px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.btn--green {
  color: #fcfcfd;
  background-color: #6dbc56;
  border: 1px solid #6dbc56;
  transition: all 0.35s ease;
}

@media (min-width: 1200px) {
  .btn--green:hover {
    background-color: #fcfcfd;
    border-color: #fcfcfd;
    color: #6dbc56;
    box-shadow: 0 0 10px 0 rgba(38, 65, 31, 0.16);
  }
}
.btn--transparent {
  background-color: transparent;
  color: #6dbc56;
  border: 1px solid #3e8028;
  transition: all 0.35s ease;
}
.btn--transparent .btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(62, 128, 40, 0.16);
  border-radius: 50px;
  margin-right: 10px;
  transition: all 0.35s ease;
}
.btn--transparent .btn-icon .user-logo--white {
  display: none;
}

@media (min-width: 1200px) {
  .btn--transparent:hover {
    background-color: #6dbc56;
    border-color: #6dbc56;
    color: #fcfcfd;
  }
  .btn--transparent:hover .btn-icon {
    background-color: #6dbc56;
  }
  .btn--transparent:hover .btn-icon .user-logo {
    display: none;
  }
  .btn--transparent:hover .btn-icon .user-logo--white {
    display: block;
  }
}
.header {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.35s ease;
}

.header.header--sticky {
  background-color: #fff;
  box-shadow: 0 0 10px -3px rgba(8, 116, 210, 0.4);
  display: flex;
  align-items: center;
  z-index: 999;
}
.header.header--sticky .header__wrapper {
  padding: 20px 0;
}

@media (max-width: 1200px) {
  .header.header--sticky .header__logo {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .header.header--sticky .header__wrapper {
    align-items: center;
  }
}
@media (max-width: 576px) {
  .header.header--sticky .mobile-menu .bar {
    margin-top: 0;
  }
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
}

.header__logo {
  margin-left: 11px;
}

.header__nav {
  width: 37%;
  margin-left: 17px;
}
.header__nav ul {
  display: flex;
  gap: 80px;
}
.header__nav ul li a,
.header__nav ul li a:link,
.header__nav ul li a:visited {
  font-family: "SS01 Regular", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  color: #1e1f24;
  transition: all 0.35s ease;
  position: relative;
}
.header__nav ul li a::before,
.header__nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -2px;
  background-color: #6dbc56;
  transition: width 0.35s ease;
}
.header__nav ul li a::before {
  left: 50%;
}
.header__nav ul li a::after {
  right: 50%;
}
@media (min-width: 1200px) {
  .header__nav ul li a:hover {
    color: #6dbc56;
  }
  .header__nav ul li a:hover::before,
  .header__nav ul li a:hover::after {
    width: 50%;
  }
}

.header__btns {
  display: flex;
  gap: 1px;
  margin-right: -6px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  z-index: 99;
}

.overlay.active {
  display: block;
}

@media (min-width: 1200px) {
  .overlay.active {
    display: none;
  }
}
.mobile-menu {
  display: none;
  flex-direction: column;
  width: 30px;
}
.mobile-menu .bar:nth-child(1), .mobile-menu .bar:nth-child(3), .mobile-menu .bar:nth-child(2) {
  width: 60%;
  height: 3px;
  background-color: #000;
  margin-bottom: 5px;
  border-radius: 20px;
  transition: all 0.35s ease;
}
.mobile-menu .bar:nth-child(2) {
  width: 30px;
}
.mobile-menu .bar:nth-child(3) {
  width: 60%;
  margin-left: 12px;
  margin-bottom: 0;
}

.mobile-menu.open {
  display: flex;
  position: absolute;
  right: 40px;
  z-index: 11111111;
  width: 30px;
}
.mobile-menu.open .bar:nth-child(1), .mobile-menu.open .bar:nth-child(2), .mobile-menu.open .bar:nth-child(3) {
  margin: 5px 0;
  transform: rotate(45deg) translate(11px, 5px);
  width: 100%;
}
.mobile-menu.open .bar:nth-child(2) {
  opacity: 0;
}
.mobile-menu.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(14px, -7px);
  margin-left: 0;
  width: 100%;
}

@media (min-width: 1200px) {
  .mobile-menu.open {
    display: none;
  }
}
@media (max-width: 1400px) {
  .header__logo {
    margin-left: 0;
  }
  .header__nav ul {
    gap: 40px;
  }
  .header__btns {
    margin-right: 0;
  }
}
@media (max-width: 1200px) {
  .header__nav {
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    width: 300px;
    background-color: #eee;
    padding: 100px 30px;
    transition: right 0.35s ease;
  }
  .header__nav ul {
    flex-direction: column;
    gap: 20px;
  }
  .header__nav ul li {
    border-bottom: 1px solid rgba(19, 48, 81, 0.2);
    padding-bottom: 10px;
  }
  .header__nav.open {
    display: flex;
    z-index: 9999;
    right: 0;
  }
  .header__logo {
    width: 150px;
    margin: 10px 0;
  }
  .header__btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    right: -300px;
    top: 330px;
    z-index: 10000;
    transition: right 0.35s ease;
  }
  .header__btns .btn--transparent .btn-icon {
    width: 22px;
    height: 22px;
  }
  .header__btns .btn--transparent .btn-icon img {
    max-width: 80%;
  }
  .header__btns .btn--green {
    display: flex;
    justify-content: center;
  }
  .header__btns.active {
    width: auto;
    display: flex;
    flex-direction: column;
    right: 0;
    transform: translateX(-52%);
  }
  .header__btns.active .btn--green {
    display: flex;
    justify-content: center;
  }
  .mobile-menu {
    display: flex;
  }
}
@media (max-width: 768px) {
  .header__nav.open {
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .header__nav ul {
    gap: 10px;
  }
  .header__nav ul li a,
  .header__nav ul li a:link,
  .header__nav ul li a:visited {
    font-size: 14px;
  }
  .header__btns {
    top: 290px;
    right: -300px;
    transition: all 0.35s ease;
  }
  .header__btns.active {
    top: 290px;
    right: 0;
    transform: translateX(-90%);
  }
  .header__btns.active .btn--transparent,
  .header__btns.active .btn--green {
    font-size: 14px;
    padding: 8px 16px;
  }
  .header__btns.active .btn--transparent .btn-icon {
    width: 22px;
    height: 22px;
  }
}
.hero__wrapper {
  padding-top: 223px;
  margin-bottom: 115px;
}

@media (max-width: 768px) {
  .hero__wrapper {
    padding-top: 160px;
  }
}
.hero__heading {
  text-align: center;
  margin-bottom: 40px;
  margin-left: 3px;
}

@media (max-width: 1400px) {
  .hero__heading {
    margin-left: 0;
  }
}
.hero__title {
  margin-bottom: 16px;
}
.hero__title span {
  margin-left: 14px;
}

@media (max-width: 1400px) {
  .hero__title span {
    margin-left: 0;
  }
}
@media (max-width: 992px) {
  .hero__title {
    margin-bottom: 10px;
  }
}
.hero__subtitle {
  margin-left: 14px;
}

@media (max-width: 1400px) {
  .hero__subtitle {
    margin-left: 0;
  }
}
.hero__btn {
  display: flex;
  justify-content: center;
  margin-left: 19px;
}
.hero__btn a {
  display: inline-block;
}

@media (max-width: 1400px) {
  .hero__btn {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .hero__btn .btn--green {
    font-size: 14px;
    padding: 8px 16px;
  }
}
.property-listings {
  margin-left: 11px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

@media (max-width: 1400px) {
  .property-listings {
    margin-left: 0;
    gap: 10px;
  }
}
@media (max-width: 1200px) {
  .property-listings {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .property-listings {
    flex-direction: column;
    margin-bottom: 34px;
  }
}
.property-listings__card {
  width: 312px;
  background-color: #fff;
  border: 1px solid #d2f4c9;
  border-radius: 8px 8px 0 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.property-listings__card .card__body {
  padding: 16px;
}
.property-listings__card .card__footer {
  display: flex;
  justify-content: center;
  background-color: #e4f9de;
  padding: 8px 0;
  box-shadow: 0 4px 4px 0 rgba(8, 115, 210, 0.08);
}
.property-listings__card .card__footer p {
  font-family: "SS01 Regular";
  font-size: 14px;
  line-height: 16px;
  color: #3e8028;
}
.property-listings__card .card__footer p span {
  font-family: "LGC Regular";
}
@media (max-width: 1400px) {
  .property-listings__card .card__footer p {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .property-listings__card:hover {
    border-color: #ace09e;
  }
  .property-listings__card:hover .property-listings__name {
    color: #6dbc56;
  }
}
@media (max-width: 1200px) {
  .property-listings__card {
    width: 49%;
  }
}
@media (max-width: 576px) {
  .property-listings__card {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
  }
}
.property-listings__status.live-auction {
  position: relative;
  display: flex;
  justify-content: flex-start;
  font-family: "LGC Regular";
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: capitalize;
  color: #3e8028;
  border-radius: 4px;
  padding: 2px 4px;
  background-color: #e4f9de;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 7px;
}

.property-listings__status.live-auction::before {
  content: "";
  background-color: #3e8028;
  height: 5px;
  width: 5px;
  border-radius: 50px;
  margin-right: 4px;
  transform: translate(0, 4px);
}

.property-listings__name {
  font-family: "LGC Regular";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #26411f;
  margin-bottom: 4px;
  transition: all 0.35s ease;
}

@media (max-width: 1400px) {
  .property-listings__name {
    font-size: 14px;
  }
}
.property-listings__address, .property-listings__date span {
  font-family: "SS01 Regular";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 9px;
}

@media (max-width: 1400px) {
  .property-listings__address, .property-listings__date span {
    font-size: 12px;
  }
}
.property-listings__info {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 14px;
}
.property-listings__info li {
  display: flex;
  align-items: center;
  gap: 3px;
  border-radius: 4px;
  padding: 2px 4px;
  background-color: #eff0f3;
}
.property-listings__info li span {
  display: flex;
  align-items: center;
  font-family: "LGC Regular";
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #3e8028;
}

.property-listings__image {
  margin-bottom: 13px;
}

@media (max-width: 1200px) {
  .property-listings__image {
    width: 100%;
  }
  .property-listings__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.property-listings__date p {
  font-family: "LGC Regular";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #26411f;
}

@media (max-width: 1400px) {
  .property-listings__date span {
    font-size: 12px;
  }
  .property-listings__date p {
    font-size: 12px;
  }
}
.info-card {
  border-radius: 50px 50px 0 0;
  background-color: #3e8028;
}

.info-card__wrapper {
  padding-top: 74px;
  padding-bottom: 150px;
  width: 100%;
  margin-left: 12px;
}

@media (max-width: 1400px) {
  .info-card__wrapper {
    margin-left: 0;
  }
}
.info-card__title {
  padding-right: 534px;
  margin-bottom: 39px;
}
@media (max-width: 1200px) {
  .info-card__title {
    margin-bottom: 20px;
    padding-right: 0;
    text-align: center;
  }
}

.info-card__content {
  display: flex;
}
@media (max-width: 1200px) {
  .info-card__content {
    flex-direction: column;
  }
}

.info-card__img {
  width: 45%;
}
@media (max-width: 1200px) {
  .info-card__img {
    width: 100%;
    margin-bottom: 20px;
    align-self: center;
    display: flex;
    justify-content: center;
  }
}

.info-card__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  width: 55%;
}
@media (max-width: 1200px) {
  .info-card__cards {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .info-card__cards {
    flex-direction: column;
  }
}

.info-card__item {
  height: 145px;
  width: calc(50% - 14px);
  background-color: #fcfcfd;
  border-radius: 8px;
  padding: 16px 24px;
  margin-left: 5px;
  margin-bottom: 4px;
}
.info-card__item--full {
  width: calc(100% - 11px);
}
@media (max-width: 1400px) {
  .info-card__item {
    margin-left: 0;
    width: calc(50% - 6px);
  }
}
@media (max-width: 576px) {
  .info-card__item {
    width: 100%;
  }
}

.info-card__item-text {
  margin-top: 13px;
}
@media (max-width: 1400px) {
  .info-card__item-text {
    font-size: 15px;
    line-height: 1.3;
  }
}

.info-card__item:last-child {
  display: flex;
  min-height: 120px;
  gap: 49px;
}
.info-card__item:last-child .info-card__item-text {
  margin-top: 8px;
  width: 65%;
}
@media (max-width: 576px) {
  .info-card__item:last-child .info-card__item-text {
    width: 100%;
    margin-bottom: 10px;
  }
}
.info-card__item:last-child .info-card__item-btn {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .info-card__item:last-child .info-card__item-btn .btn--green {
    padding: 8px 16px;
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .info-card__item:last-child .info-card__item-btn {
    margin-left: auto;
  }
}
@media (max-width: 1400px) {
  .info-card__item:last-child {
    gap: 0;
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .info-card__item:last-child {
    flex-direction: column;
    padding: 20px;
    height: auto;
  }
}/*# sourceMappingURL=index.css.map */