<!-- Header -->
<header class="header">
  <div class="overlay" id="overlay"></div>
  <div class="container">
    <div class="header__wrapper">
      <a href="index.html"
        ><img
          class="header__logo"
          src="/src/assets/img/logo.png"
          alt="company logo"
      /></a>

      <nav class="header__nav">
        <ul>
          <li><a href="#">Properties</a></li>
          <li><a href="#">Buyers</a></li>
          <li><a href="#">Sellers</a></li>
          <li><a href="#">Wholesalers</a></li>
        </ul>
      </nav>
      <div class="header__btns">
        <a class="btn--transparent" href="#"
          ><span class="btn-icon"
            ><img
              class="user-logo"
              src="/src/assets/img/user.png"
              alt="user logo" />
            <img
              class="user-logo--white"
              src="./src/assets/img/user-white.png"
              alt="user logo white" /></span
          >Login</a
        >
        <a class="btn--green" href="#"><span>Sign up</span></a>
      </div>
      <div class="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </div>
</header>
<!-- Header -->
